---
title: About Me
---

{% assign currentloc = 'REME' %}
{% include header.html %}

    <div class="section-title text-align-center">
    
        <h1 class="title">Stephen Roantree</h1>
        <p>Professional Software Engineer; Games, Art & Hacking<a href="#hacking">*</a> Enthusiast.</p>  
                        
    </div>


    <div class="one">
        <p>I graduated Trinity College Dublin's Computer Science course with a first class honors in 2010. Since then I've been working for Swrve, which provides A/B testing and analytics tools, amongst other features, to game developers.</p>

        <p>I've been programming from a young age, and am very chuffed to have a game from my teen years sitting in Home of the Underdog <a href="http://homeoftheunderdogs.net/game.php?id=5221">here</a>.</p>

        <p>I still have a firm interest in game development, though my interests have branched out beyond the obvious topics relating to it. On the technical side my interests have grown to include programming language design, compilers, virtual machines, network programming, distributed systems, graphics, and anything particularly shiny. I've also been trying to develop art skills to apply to the production of games,
        which is why the blog here contains so many of my sketches.</p>

        <h3>Links of interest</h3>
        <ul>
            <li><a href="https://github.com/stroan">Github</a></li>
            <li><a href="https://twitter.com/stroantree">Twitter</a></li>
            <li><a href="http://www.linkedin.com/pub/stephen-roantree/1a/559/160">LinkedIn</a> - I almost never check this. This is not a good way of getting in contact with me.</li>
            <li>Email: stroantree AT gmail DOT com</li>
        </ul>

        <div class="divider-border"></div>

        <p><a id="hacking">*</a> - In the everything is a toy <a href="http://stallman.org/articles/on-hacking.html">sense</a></p>
    </div>

{% include footer.html %}
