
    <!-- START FOOTER -->
    
    <div id="footer">
    
        <div id="footer-content">
        
            
                <div id="footer-bottom" class="clear">
                            
                    <div class="one-half">
                        <p>Contents &copy; Stephen Roantree. All rights reserved. Design by Brankic1979.</p>
                    </div><!--END ONE-HALF-->   
                            
                    <div class="one-half text-align-right last">            
                        <p><a href="https://twitter.com/stroantree">Twitter</a>
                    </div><!--END ONE-HALF TRIGGER-FOOTER LAST-->
                    
                </div><!--END FOOTER-BOTTOM-->  
            
        </div><!--END FOOTER-CONTENT-->     
    
    </div><!--END FOOTER-->
    
    <!-- END FOOTER --> 
            
</div><!-- END CONTENT-WRAPPER --> 

</div><!-- END WRAPPER --> 

</body>
</html>