
    <!-- START FOOTER -->
    
    <div id="footer">
    
        <div id="footer-content">
        
            
                <div id="footer-bottom" class="clear">
                            
                    <div class="one-half">
                        <p>Contents &copy; Stephen Roantree. All rights reserved. Design by Brankic1979.</p>
                    </div><!--END ONE-HALF-->   
                            
                    <div class="one-half text-align-right last">            
                        <p><a href="https://twitter.com/stroantree">Twitter</a>
                    </div><!--END ONE-HALF TRIGGER-FOOTER LAST-->
                    
                </div><!--END FOOTER-BOTTOM-->  
            
        </div><!--END FOOTER-CONTENT-->     
    
    </div><!--END FOOTER-->
    
    <!-- END FOOTER --> 
            
</div><!-- END CONTENT-WRAPPER --> 

</div><!-- END WRAPPER --> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27299968-1']);
  _gaq.push(['_setDomainName', 'stroantree.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>