{% assign currentloc = 'BLOG' %}
{% include header.html %}

    <div class="section-title">
    
        <h1 class="title">Post: {{ page.title }}</span></h1>
                        
    </div><!--END SECTION TITLE-->
        
        <div id="inner-content" class="blog1">

            <div class="post">
            
                <div class="post-info">                     
                    <div class="date"><span class="month">{{ page.date | date_to_short_month }}</span><span class="day">{{ page.date | date_to_day }}</span><span class="month">{{ page.date | date_to_year }}</span></div>                 
                </div><!--END POST-INFO-->      
                
                <div class="post-content">
                
                    <div class="post-meta">             
                        <ul>
                            <li><span>Posted by</span> <a href="#">Stephen Roantree</a></li>
                        </ul>
                    </div><!--END POST-META-->      
                            
                    {{ content }}
                    
                </div><!--END POST-CONTENT -->
                
            </div><!--END POST-->

            
            {% if page.paginated %}
            <div class="wp-pagenavi">
                <span class="pages">Page {{ page.page_index }} of {{ page.page_count }}</span>
                {% if page.page_index > page.newest_page_index %}
                <a href="{{ page.newest_page_address }}">&larr;</a>
                <a href="{{ page.newer_page_address }}">{{ page.newer_page_index }}</a>
                {% endif %}
                <span class="current">{{ page.page_index }}</span>
                {% if page.page_index < page.oldest_page_index %}
                <a href="{{ page.older_page_address }}">{{ page.older_page_index }}</a>
                <a href="{{ page.oldest_page_address }}">&rarr;</a>
                {% endif %}    
            </div><!--END WP-PAGENAVI-->
            {% endif %}
        
        </div><!--END INNER-CONTENT-->
        
{% include sidebar.html %}

{% include footer.html %}